{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for incomingDoc in incomingDetails %}
    <div class="container mx-auto p-4">
        <div class="bg-white shadow-md rounded-lg overflow-hidden w-full p-4">
            <!-- Record Details Section -->
                <h2 class="text-2xl font-bold mb-4">Incoming Doc Details</h2>

                <div class="grid grid-cols-4 grid-rows-5 gap-4">
                    <div class="mb-4">
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.continuos_number  }}</p>
<!-- 
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.book_no }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.page_no }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.year }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.archive }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.branch }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.date }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.sender }}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.receiver}}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.number }}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.Surrender_name }}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.Surrender_date }}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.register_number }}</p>

                        
                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.image }}</p>

                        <p class="text-gray-600 font-semibold">Continuous Number</p>
                        <p>{{ incomingDoc.remarks }}</p> -->
                    </div>

                    <div >
                        <p>New</p>
                    </div>
                    
                    <div >
                        <p>New</p>
                    </div>
                    
                    <div >
                        <p>New</p>
                    </div>
            </div>
            <!-- Update and Delete Buttons Section -->
            <div class="flex justify-end">
                <a href="">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">Update</button>
                </a>
                <a href="">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

<!-- {% url 'update_record' incomingDoc.id %}
{% url 'delete_record' incomingDoc.id %} -->
