{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class=" bg-gray-100 flex flex-col h-screen justify-start items-start  py-2 px-12">
        {% if messages %}
            {% for message in messages %}
                {{message }}
            {% endfor %}
        {% endif %}
        <div class="p-4 py-2  my-2 rounded text-white bg-blue-500 flex justify-between items-center shadow-md overflow-hidden w-full">
            <div class="flex justify-end">
                <a href="{% url 'records:addIncomingDoc' %}">
                    <button class="bg-white text-blue-500 hover:text-white hover:bg-blue-700 font-bold px-4 py-2 rounded">Add New file</button>
                </a>
                <button class="bg-white text-blue-500 hover:text-white hover:bg-blue-700 font-bold mx-4 px-4 py-2 rounded">Search</button>
            </div>
            <h4 class="text-xl font-bold">Incoming Docs</h4>
        </div>
        <div class="bg-white shadow-md rounded-lg overflow-hidden w-full">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white  uppercase tracking-wider">Co.No</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Book No</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Year</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Archive</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Branch</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Date</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Sender</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Receiver</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">Surrender_name</th>
                        <th class="px-6 py-3 bg-blue-500 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">More Details</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for incomingDoc in incomingDocs %}
                            <tr class="hover:bg-blue-50">
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.continuos_number}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.book_no}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.year}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.archive}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.branch}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.date}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.sender}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.receiver}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap border">{{incomingDoc.Surrender_name}}</td>
                                <td class="px-6 py-4 whitespace-no-wrap borde "> 
                                    <a href="{% url 'records:IncomingDocDetails' incomingDoc.id %}">
                                    Display all Records
                                    </a>
                                </td> 
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}