{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for outgoingDetail in outgoingDetails %}
<body class="bg-gray-100">
    <div class="container mx-auto p-2">
        <div class="bg-gray-100 border border-gray-500 shadow-md rounded-lg overflow-hidden p-4">
            <h2 class="bg-blue-500 text-white text-2xl font-bold rounded mb-4 p-2">Incoming Doc Details</h2>
    
            <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="border p-4 bg-blue-100 shadow-sm ">
                    <p class="text-black font-semibold">Continuous Number</p>
                    <p>{{ outgoingDetail.continuos_number }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Book No</p>
                    <p>{{ outgoingDetail.date }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Page No</p>
                    <p>{{ outgoingDetail.book_no }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Year</p>
                    <p>{{ outgoingDetail.page_no }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Archive</p>
                    <p>{{ outgoingDetail.year }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Branch</p>
                    <p>{{ outgoingDetail.archive }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Date</p>
                    <p>{{ outgoingDetail.branch }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Sender</p>
                    <p></p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Receiver</p>
                    <p></p>
                </div>
    
                <div class="border p-4 col-span-2 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Number of</p>
                    <p></p>
                </div>
    
                <div class="border p-4 col-span-2 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Surrender Name</p>
                    <p></p>
                </div>
    
                <div class="border p-4 col-span-2 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Surrender Date</p>
                    <p></p>
                </div>

                <div class="border p-4 col-span-2">
                    <p class="text-black font-semibold">Image</p>
                    <div class="h-64 w-full">
                        <img src="{{ incomingdocs.image.url }}" class="w-full h-full object-cover" alt="Image Description">
                    </div>
                </div>
    
                <div class="border p-4 col-span-2">
                    <p class="text-black font-semibold">Remarks</p>
                    <p>{{ incomingDoc.short_explain }}</p>
                </div>
            </div>
            <!-- Update and Delete Buttons Section -->
            <div class="flex justify-end mt-4">
                <a href="#">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Update</button>
                </a>
                <a href="#">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                </a>
            </div>
        </div>
    </div>    
</body>
{% endfor %}
{% endblock %}
<!-- 
continuos_number = models.IntegerField(unique=True)
date = models.DateField(null=True, blank=True)
book_no = models.IntegerField()
page_no = models.IntegerField()
year    = models.CharField(max_length=20, null=True, blank=True)
archive = models.CharField(max_length=200, null=True, blank=True)
branch  = models.CharField(max_length=200, null=True, blank=True)
short_explain = models.TextField()
dossier_no = models.IntegerField()
image = models.ImageField(upload_to="records/outgoingdocs/images", null=True, blank=True) -->