{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for outgoingDetail in outgoingDetails %}
<body class="bg-gray-100">
    <div class="container mx-auto p-2 h-screen">
        <div class="bg-gray-100 border border-gray-500 shadow-md rounded-lg overflow-hidden p-4">
            <h2 class="bg-blue-500 text-white text-2xl font-bold rounded mb-4 p-2">Outgoing Doc Details</h2>
    
            <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="border p-4 bg-blue-100 shadow-sm ">
                    <p class="text-black font-semibold">Continuous Number</p>
                    <p>{{ outgoingDetail.continuos_number }}</p>
                </div>

                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Book No</p>
                    <p>{{ outgoingDetail.date }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Page No</p>
                    <p>{{ outgoingDetail.book_no }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Year</p>
                    <p>{{ outgoingDetail.page_no }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Archive</p>
                    <p>{{ outgoingDetail.year }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Branch</p>
                    <p>{{ outgoingDetail.archive }}</p>
                </div>
    
                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Date</p>
                    <p>{{ outgoingDetail.branch }}</p>
                </div>

                <div class="border p-4 bg-blue-100 shadow-sm">
                    <p class="text-black font-semibold">Dossier No</p>
                    <p>{{ outgoingDetail.dossier_no }}</p>
                </div>

                <div class="border p-4 col-span-2">
                    <p class="text-black font-semibold">Image</p>
                    <div class="h-64 w-full">
                        <img src="{{ outgoingDetail.image.url }}" class="w-full h-full object-cover" alt="Image Description">
                    </div>
                </div>
    
                <div class="border p-4 col-span-2">
                    <p class="text-black font-semibold">Remarks</p>
                    <p>{{ outgoingDetail.short_explain }}</p>
                </div>
            </div>
            <!-- Update and Delete Buttons Section -->
            <div class="flex justify-end mt-4">
                <a href="{% url 'records:updateOutgoingDoc' outgoingDetail.id %}">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Update</button>
                </a>
                <a href="{% url 'records:DeleteOutgoingDoc' outgoingDetail.id %}">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                </a>
            </div>
        </div>
    </div>    
</body>
{% endfor %}
{% endblock %}
